<h1>Listing posts</h1>
<%= link_to 'New post', new_post_path %> 
<table>
  <tr>
    <th align="left">Title</th>
    <th align="left">Text</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td width="100"><%= post.title %></td>
      <td><%= post.text %></td>
    </tr>
  <% end %>
</table>